/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

.publication {
  margin-bottom: 20px;
}

.publication h4 {
  font-size: 1.2em;
  color: #007acc;
  margin-bottom: 5px;
}

.publication p {
  font-size: 1em;
  margin: 5px 0;
}

hr {
  border: 0;
  height: 1px;
  background: #e5e5e5;
  margin: 15px 0;
}